.collection{
    margin-top:60px;
    margin-bottom:60px;
    text-align: center;
    padding:0 25px;
}

.collection h2{
    font-size:32px;
    font-weight: 700;
    margin-bottom:10px;
    text-wrap: nowrap;
}

.collection span{
    font-size: 15px;
    font-weight: 400;
}

.collection .sections{
    width: 60%;
    margin:36px auto
}

.collection ul{
    list-style: none;
    display: inline-flex;
}

.collection .sections .tags{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection .sections .tags .list{
    overflow-x: hidden;
    display: inline-flex;
    width: 90%;
    z-index: 2;
    flex-wrap: nowrap;
    padding:0;
    white-space:nowrap;
    scroll-behavior: smooth;
}

.collection .sections .tags .list li{
    cursor: pointer;
    text-wrap: nowrap;
    min-width: 100px;
}

.collection .sections .tags button{
    background-color: transparent;
    border:none;
    cursor: pointer;
    z-index: 1;
}

.collection .sections .tags button svg{
    width: 50px;
}

.collection .sections .tags svg{
    height:24px;
}


@media(max-width:768px){

    .collection .sections .tags{
        position: relative;
    }

}

@media (max-width:1200px){

    .collection .sections{
        margin-top:36px;
        width: 100%;
    }
    
}