.compare{
    display: flex;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height:240px;
    position: absolute;
    bottom:0;
    left:0;
    background-color: #fff;
    animation-name: slideFromBottom;
    animation-duration: .2s;
}

.compare div{
    padding:25px;
}

.compare .head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.compare .head h4{
    font-size: 18px;
    font-weight: 500;
    margin:0;
}

.compare .head button{
    margin-top:20px;
    border:1px solid #d9d9d9;
    padding: 7px 25px;
    font-size:14px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.compare .productsContainer{
    flex:2;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap:nowrap;
    padding:0;
}

.compare .products{
    display: flex;
    flex-wrap:nowrap;
}

.compare .products .product{
    width: 100px;
    height:120px;
    position: relative;
}

.compare .products .product .img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.compare .products .product .close{
    position: absolute;
    left:10px;
    top:10px;
    font-size:12px;
    font-weight: 500;
    cursor: pointer;
    background-color: black;
    color:#fff;
    border-radius: 50%;
    width: 26px;
    height:26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
}

.compare .control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.compare .control button{
    border:none;
    text-align: center;
    font-size:16px;
    font-weight: 500;
    cursor: pointer;
    padding:7px 15px;
    width: 160px;
    height:40px;
}

.compare .control button:first-of-type{
    border:1px solid #d9d9d9;
    background-color: transparent;
}

.compare .control button:last-of-type{
    background-color: black;
    color:#fff;
    margin-top:15px;
    transition: .2s ease-in-out;
}

.compare .control button:last-of-type:hover{
    background-color: #57CDBF;
}

@media (max-width:768px){
    .compare{
        flex-direction: column;
        height:500px;
    }

}


@keyframes slideFromBottom {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}