.popular{
    margin-top:100px;    
}

.popular h2{
    position: relative;
    text-align: center;
    margin:50px auto;
    text-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:24px;
    font-weight: 600;
}


.popular h2::before,.popular h2::after{
    content: "";
    height: 1px;
    border-bottom:1px solid #d9d9d9;
    flex:1;
    margin:0 15px;
}