.nav{
    background-color: #F0F3F4;
    padding:25px;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-area: nav;
}

.nav .logo{
    font-size:22px;
    font-weight: 500;
}

.nav .list{
    margin-top:25px;
}

.nav .list ul{
    list-style: none;
}

.nav .list ul li{
    margin-bottom:15px;
    font-size:15px;
    font-weight: 400;
}

.nav .profile{
    flex:2;
    align-self: flex-end;
}

.nav .profile .avatar{
    width:33px;
    height:33px;
    border-radius: 50%;
}

.nav .profile .avatar .img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.nav .profile h4{
    font-size:16px;
}

.nav .profile span{
    margin-bottom:7px;
    display: block;
    font-size:13px;
    font-weight: 300;
}